{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ],
    [
      "component",
      {
        "libraryName": "element-ui",
        "style": true,
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}